<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Captcha</title>
  </head>
  <body>
    <div
      style="
        width: 650px;
        background-color: rgb(248, 247, 245);
        margin: 0 auto;
        border: 1px solid;
        border-radius: 5px;
      "
    >
      <div
        style="
          height: 100px;
          border: 1px solid;
          border-radius: 5px 5px 0 0;
          background-color: #09162d;
          text-align: center;
        "
      >
        <img src="./logo.png" alt="tongfangyouyun" style="margin: 20px auto" />
      </div>
      <div style="width: 550px; margin: 0 auto">
        <h3 style="margin: 0; padding-top: 30px">尊敬的用户，您好！</h3>
        <p>
          您收到的验证码如下（<span style="font-weight: bold"
            >请勿将此验证码转发或提供给任何人。</span
          >）
        </p>
        <p
          style="
            font-family: Arial, Helvetica, sans-serif;
            font-size: 4em;
            text-align: center;
            font-weight: bold;
            margin: 20px 0;
          "
        >
          {{.Captcha}}
        </p>
      </div>

      <!-- footer -->
      <div style="width: 550px; margin: 50px auto 0">
        <p style="text-align: right">xxxx（北京）科技有限公司</p>
        <div
          style="
            font-size: small;
            opacity: 0.5;
            padding: 20px 0;
            margin-top: 30px;
            border-top: 1px solid darkgray;
          "
        >
          本部件由xxxx系统自动发出，请勿直接回复。
        </div>
      </div>
    </div>
  </body>
</html>
