{{define "content"}}
<!DOCTYPE html>
<html lang="en">
  <body>
    <!-- content -->
    <div
      style="
        width: 650px;
        background-color: rgb(248, 247, 245);
        margin: 0 auto;
        border: 1px solid;
        border-radius: 5px;
      "
    >
      {{ template "header"}}
      <div
        style="
          width: 550px;
          margin: 0 auto;
          font-family: '微软雅黑', Helvetica, sans-serif;
        "
      >
        <h2 style="margin: 0; padding-top: 30px">尊敬的管理员用户，您好！</h2>
        <p>
          您最新收到如下的注册申请，请您及时认真审核并登录平台予以确认。感谢您的配合。
        </p>
        <table style="margin: 30px 0">
          <tr>
            <th
              style="
                display: inline-block;
                width: 3.5em;
                text-align: justify;
                text-align-last: justify;
              "
            >
              用户名
            </th>
            <td style="font-size: medium">：{{ .UserMsg.UserName }}</td>
          </tr>
          <tr>
            <th
              style="
                display: inline-block;
                width: 3.5em;
                text-align: justify;
                text-align-last: justify;
              "
            >
              电话
            </th>
            <td style="font-size: medium">：{{ .UserMsg.Phone }}</td>
          </tr>
          <tr>
            <th
              style="
                display: inline-block;
                width: 3.5em;
                text-align: justify;
                text-align-last: justify;
              "
            >
              邮箱
            </th>
            <td style="font-size: medium">：{{ .UserMsg.Email }}</td>
          </tr>
          <tr>
            <th
              style="
                display: inline-block;
                width: 3.5em;
                text-align: justify;
                text-align-last: justify;
              "
            >
              公司
            </th>
            <td style="font-size: medium">：{{ .UserMsg.Company }}</td>
          </tr>
        </table>
        <a
          href="{{.UserMsg.CheckURL}}"
          style="word-wrap: break-word; text-decoration: none; color: #1584ed"
          >{{.UserMsg.CheckURL}}</a
        >
        <p style="margin-top: 25px">
          如果以上链接无法打开，请把上面网页地址复制到浏览器地址栏中打开（该链接在24小时内有效）
        </p>
      </div>
      {{ template "footer"}}
    </div>
  </body>
</html>
{{end}}
