{{define "content"}}
<!DOCTYPE html>
<html lang="en">
  <body>
    <div
      style="
        width: 650px;
        background-color: rgb(248, 247, 245);
        margin: 0 auto;
        border: 1px solid;
        border-radius: 5px;
      "
    >
      {{ template "header"}}
      <div
        style="
          width: 550px;
          margin: 0 auto;
          font-family: '微软雅黑', Geneva, Tahoma, sans-serif;
        "
      >
        <h2 style="padding-top: 30px; margin-top: 0">尊敬的用户，您好！</h2>
        <p style="margin-bottom: 0px">
          您的邮箱正在注册xxx平台账号，如是您操作的，请点击以下链接激活账户。
        </p>
        <a
          href="{{ .ActiveURL}}"
          style="word-wrap: break-word; text-decoration: none; color: #1584ed"
          >{{.ActiveURL}}
        </a>
        <p style="margin-top: 25px">
          如果以上链接无法打开，请把上面网页地址复制到浏览器地址栏中打开（该链接在24小时内有效）
        </p>
      </div>
      {{template "footer"}}
    </div>
  </body>
</html>
{{end}}
