{{define "content"}}
<!DOCTYPE html>
<html lang="en">
  <body>
    <div
      style="
        width: 650px;
        background-color: rgb(248, 247, 245);
        margin: 0 auto;
        border: 1px solid;
        border-radius: 5px;
      "
    >
      {{template "header"}}
      <div style="width: 550px; margin: 0 auto">
        <h2 style="margin: 0; padding-top: 30px">尊敬的用户，您好！</h2>
        <p>
          恭喜您，您的注册申请已通过管理员的审批验证并成功!
          即刻起，您可以使用您注册时预留的信息登录到XXX系统云平台，感谢您的注册使用。
        </p>
        <p
          style="
            font-size: 1.5em;
            text-align: center;
            font-weight: bold;
            margin: 50px 0;
          "
        >
          注册成功！
        </p>
        <a
          href="{{.SuccessURL}}"
          style="
            display: block;
            width: 150px;
            padding: 10px 32px;
            margin: 0 auto;
            text-decoration: none;
            text-align: center;
            color: white;
            background-color: rgb(233, 4, 4);
          "
        >
          立即登录
        </a>
      </div>
      {{ template "footer"}}
    </div>
  </body>
</html>
{{end}}
